employee.dtd

<!ELEMENT Employee_Records (Employee*)>
<!ELEMENT Employee (fname,mname,lname,street,area,city,state,phone)>
<!ATTLIST Employee id CDATA #REQUIRED>
<!ELEMENT fname (#PCDATA)>
<!ELEMENT mname EMPTY>
<!ELEMENT lname (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT area (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT phone (#PCDATA)>