employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Employee_Records">
<xs:complexType>
<xs:sequence>
<xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="fname">
<xs:simpleType>
<xs:restriction base="xs:string">
    <xs:pattern value="[A-Z][a-z]*">
     </xs:pattern>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="lname">
<xs:simpleType>
    <xs:restriction base="xs:string">
    <xs:pattern value="[A-Z][a-z]*">
</xs:pattern>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="mname" type="xs:string">
</xs:element>
<xs:element name="street" type="xs:string">
</xs:element>
<xs:element name="area" type="xs:string">
</xs:element>
<xs:element name="city" type="xs:string">
</xs:element>
<xs:element name="state">
</xs:element>
<xs:element name="phone">
<xs:simpleType>
<xs:restriction base="xs:integer">
    <xs:minExclusive value="0">
    </xs:minExclusive>
    <xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]">
</xs:pattern>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:short" use="required"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
