New Resturant Site/SAGNIK/Menu.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Menu">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="Items" maxOccurs="unbounded" minOccurs="1">
             <xs:complexType>
                <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Veg">
                           </xs:enumeration> 
                           <xs:enumeration value="Non Veg"></xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
        <xs:element name="name">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z][a-z]*">
                        </xs:pattern>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="halfprice" type="xs:string">
            </xs:element>
           <xs:element name="fullprice" type="xs:string"></xs:element> 
        </xs:sequence>
        </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>   
</xs:element>
       </xs:schema>        